# Docker-Compose document
# Ref : https://docs.docker.com/compose/compose-file/

name: ${PROJECT_NAME}

networks:
  srv-network:
    driver: bridge
    name: ${INFRA_DOCKER_NETWORK}
    external: true

services:
  nodejs:
    image: ${SRV_IMAGE_NAME}
    container_name: ${SRV_CONTAINER_NAME}
    hostname: ${SRV_HOSTNAME}
    stdin_open: true
    tty: true
    ports:
      - ${SRV_PORT}:${SRV_PORT}
    volumes:
      - ${PROJECT_DIR}/app:/app
      - ${PROJECT_DIR}/cache/develop/dist:/app/dist
      - ${PROJECT_DIR}/cache/develop/node_modules:/app/node_modules
    environment:
      - PORT=${SRV_PORT}
    command: [ "${SRV_COMMAND}" ]
    working_dir: /app
    networks:
      - srv-network
